@import "../Variables.scss";

.header-small {
  position: fixed;
  top: 0;

  width: 100%;
  height: 90px;
  z-index: 120;

  .header-on-scroll {
    box-shadow: 0px -1px 13px -2px rgba(0, 0, 0, 0.75);
  }

  .hamburger {
    display: inline-block;

    position: fixed;
    top: 20px;
    left: 20px;

    cursor: pointer;
    background-color: transparent;
    border: 0;

    margin: 0;
    padding: 10px;

    transition: transform .3s .1s ease-in-out;
  }

  .hamburger, .navigation {
    transition: transform .3s .1s ease-in-out;
  }

  .hamburger-box {
    position: relative;

    display: inline-block;

    width: 35px;
    height: 24px;
  }

  @mixin hamburger-line {
    position: absolute;

    width: 100%;
    height: 3px;
  }

  @mixin hamburger-line-color($color: var(--clr-light)) {
    background-color: $color;
  }

  .hamburger-inner {
    @include hamburger-line;
    @include hamburger-line-color();

    left: 0;
    top: 50%;

    transform: translateY(-50%);
    transition: background-color .3s ease-in-out;
  }

  .hamburger-inner::before,
  .hamburger-inner::after {
    @include hamburger-line;
    @include hamburger-line-color();

    content: '';
    left: 0;
    transition: transform .3s ease-in-out;
  }

  .hamburger-inner::before {
    top: -10px;
  }

  .hamburger-inner::after {
    top: 10px;
  }

  .hamburger--active .hamburger-inner {
    @include hamburger-line-color($color: var(--clr-light));
    background-color: transparent;
  }

  .hamburger--active .hamburger-inner:before {
    @include hamburger-line-color($color: var(--clr-light));
    transform: translateY(10px) rotate(45deg);
  }

  .hamburger--active .hamburger-inner:after {
    @include hamburger-line-color($color: var(--clr-light));
    transform: translateY(-10px) rotate(-45deg);
  }

  @media screen and (min-width: $break-desktop-s) {
    display: none;
  }
}
