@import '../Variables';

.tasks__content {
  margin-top: 2.5em;

  &:nth-child(2) {
    margin-top: 1.5em !important;
  }

  .tasks__element {
    display: flex;

    .tasks__div__hour {
      flex: 0 0 15%;

      .tasks__hour {
        color: var(--clr-lightgray);
        font-weight: 600;
        font-size: 14px;
      }
    }

    .tasks__div__line {
      flex: 0 0 92%;

      .tasks__line {
        margin-left: .75em;

        &::before {
          content: '';
          display: block;

          -webkit-border-radius: 0.375em;
          border-radius: 0.375em;

          height: 0.4em;
          width: 0.4em;
          margin-top: -.7em;
          margin-right: 0.5em;
          background-color: var(--clr-lightgray);
          opacity: 50%;
        }

        &::after {
          content: '';
          display: block;
          border-top: .14em solid var(--clr-lightgray);
          height: 100%;
          min-width: 50px;
          max-width: 500px;
          opacity: 50%;
          margin-left: .4em;
          margin-top: -.25em;
        }
      }
    }
  }
}